*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    --purple-color: #611f69;
    --white-color: #fff;
    --black-color: #1d1d1d;
    --light-gray-color: #f6f0e8;
    --blue-color: #1264a3;
    --dark-gray-color: #f5f5f5;
    --logo-color: #ff7200;
    --white: #fff;
    --text-black: #484848;
    --text-gray: #757575;
    --primary-blue: #4c70d6;
    --primary-green: #78d090;
    --primary-pink: #4c70d6;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--black-color);
}

header {
    background-color: var(--light-gray-color);
}

.logo{
    color: var(--primary-pink);
    font-size: 30px;
    font-family: Arial;
}

.navbar {
    margin: 0.8em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.navbar ul {
    display: flex;
}
  
.navbar li {
    padding: 0 0.8em;
}

.navbar a {
    font-size: 1rem;
    font-weight: 600;
}

.srch{
    display: inline-block;
    padding: 0.4em 0.1em;
    font-size: 1rem;
    margin-right: -3em;
}

.search button{
    display: inline-block;
    padding: 0.4em 0.5em;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
}

.cta {
    border: 2px solid var(--primary-blue);
    border-radius: 0.1rem;
    background-color: var(--primary-blue);
    color: var(--white-color);
    display: inline-block;
    padding: 0.4em 1em;
    font-weight: 600;
    text-align: center;
}

.shop-cta{
    margin-right: -1.2em;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.hero_heading {
    font-weight: 700;
    font-size: 35px;
    font-style: italic;
    color: #73390a;
    text-align: left;
    line-height: 40px;
}

.hero_subheading{
    font-size: 17px;
    text-align: left;
    margin-top: 20px;
    color: #644c4c;
}

.hero_image img {
    border-radius: 50%;
}

.feature_section{
    text-align: center;
    background-color: #fefafa;
}

.trusted_brands h4 {
    font-size: 17px;
    font-weight: 500;
    margin: 25px;
    color: #4d4d4d;
}

.trusted_brand_images{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.trusted_brand_images img{
    width: 80px;
}

.trusted_brands p {
    font-size: 16px;
    color: #4d4d4d;
    margin-top: 20px;
    margin-bottom: 25px;
};

.footer_down {
    display: flex;
}